.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 300px;
    height: 100%;
    padding: 20px;
}

.container_inactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 300px;
    height: 100%;
    padding: 20px;
}

@media (max-width: 960px) {
    .container_inactive {
        width: 100%;
    }

    .container {
        width: 0;
        min-width: 0;
        padding: 0;
    }
}

.row {
    display: flex;
    align-items: center;
}

.room_item {
    padding: 10px;
    margin: 15px 10px 15px 5px;

    cursor: pointer;

    border-radius: 5px;
    background-color: #f9f9f9;

    font-weight: 600;
    word-wrap: break-word;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.room_item_selected {
    composes: room_item;
    background-color: rgba(180, 200, 252, 0.3);
}

.input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 10px;

    outline: none;
    caret-color: rgba(0, 0, 0, 0.3);

    border-radius: 7px;
    border: none;
    color: #616161;

    font-size: 16px;

    background-color: #f5f5f5;
}

.button {
    height: 40px;
    padding: 10px;
    margin-left: 10px;

    border: none;
    border-radius: 7px;

    cursor: pointer;

    font-size: 14px;
    font-weight: 600;

    transition: background-color .1s linear;
}

.button:hover {
    background-color: #dddddd;
}

.logout_button {
    max-width: 200px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: #f44336;
    background-color: #fff;
    cursor: pointer;

    font-weight: 600;
    font-size: 1.125rem;

    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;

    transition: border .1s linear;
}

.logout_button:hover {
    border: 2px solid #f44336;
}