.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    padding: 1.25rem;
    background-color: #f9f9f9;
}

.container_inactive {
    composes: container;
}

@media (min-width: 960px) {
    .arrow_icon {
        display: none;
    }

    .three_dots_icon {
        display: none;
    }
}

@media (max-width: 960px) {
    .container {
        width: 100%;
    }

    .container_inactive {
        display: none;
    }
}

.chat_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.chat_header_room_block {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat_header_item:last-child {
    padding-right: 0;
}

.chat_header_item {
    padding-right: 1.25rem;
}

.chat_header_title {
    composes: chat_header_item;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.share_icon {
    width: 1.15rem;
    height: 1.15rem;
    fill: #616161;
    cursor: pointer;
}

.arrow_icon {
    margin-right: 1rem;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    transform: scaleX(-1);
    fill: #b4c8fc;
    cursor: pointer;
}

.three_dots_icon {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    fill: #b4c8fc;
    cursor: pointer;
    margin-left: 1.125rem;
}

.chat_send_message_container {
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 0.33rem;
    padding: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 2px rgba(34, 60, 80, 0.15);
}

.chat_send_message_input {
    width: 100%;
    margin-right: 1.25rem;
    height: 2.5rem;
    padding: 0.625rem;

    outline: none;
    border: none;
    color: #616161;
    caret-color: rgba(0, 0, 0, 0.3);

    font-size: 1rem;
}

.chat_send_message_button {
    width: 1.5rem;
    height: 1.5rem;
    fill: #b4c8fc;
    margin-right: 0.625rem;
    cursor: pointer;
}
