.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

.modal_inner {
    padding: 1.25rem;
    min-width: 200px;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 0.625rem
}

.input {
    width: 100%;
    height: 2.5rem;
    margin: 0.33rem 0;
    padding: 0.75rem;

    outline: none;
    caret-color: rgba(0, 0, 0, 0.3);

    border-radius: 7px;
    border: none;
    color: #616161;

    font-size: 1rem;

    background-color: #f5f5f5;
}

.copy_icon {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 1rem;
    margin-right: 0.33rem;

    cursor: pointer;
    fill: #616161;
}