.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    padding: 1.25rem;
    background-color: #fff;
}

.container_active {
    composes: container;
}

.container_inactive {
    composes: container;
}

@media (max-width: 960px) {
    .container_inactive {
        width: 0;
        padding: 0;
    }

    .container_active {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .arrow_icon {
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 3.75rem;
    font-size: 1.125rem;
}

.arrow_icon {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: scaleX(-1);
    fill: #b4c8fc;
    cursor: pointer;
}

.title {
    font-size: 1.125rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #616161;
}

.item_container {
    padding: 0.625rem;
}

.item_header {
    display: flex;
    align-items: center;
}

.item_name {
    font-weight: 600;
    word-wrap: break-word;
}

.item_login {
    color: #858585;
}

.online_icon {
    width: 0.4rem;
    height: 0.4rem;
    fill: rgba(180, 200, 252, 1.0);
    margin-right: 5px;
}