.message_item {
    background-color: #ffffff;
    margin: 0.625rem 3.125rem 0.625rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.message_item_outgoing {
    background-color: #eff1f3;
    margin: 0.625rem 1.25rem 0.625rem 3.125rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.message_item_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.33rem;
}

.message_item_name {
    font-weight: 600;
    word-wrap: break-word;
}

.message_item_date {
    margin-left: 0.625rem;
    font-size: 0.75rem;
    color: #858585;
    word-wrap: break-word;
}

.message_item_text {
    word-wrap: break-word;
}