.container {
    width: 100%;
    max-width: 400px;
    padding: 1.56rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    border-radius: 20px;

    box-shadow: 0 0 4px 2px rgba(0,0,0,0.15);
}

@media (max-width: 500px) {
    .container {
        max-width: none;
        margin: 0 auto;
        border-radius: 0;
        box-shadow: none;
    }
}

.title {
    font-size: 1.56rem;
    text-align: center;
    font-weight: 700;
}

.description {
    font-size: 0.875rem;
    text-align: center;
    font-weight: 400;
    color: #616161;
    margin: 0.375rem 0 1.25rem;
}

.link {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    border: none;
    background-color: #fff;
    text-decoration: underline;
    color: #42a5f5;
}

.link:hover {
    cursor: pointer;
}

a:link, a:visited {
    color: #42a5f5;
}

.input {
    width: 100%;
    height: 2.5rem;
    margin: 0.33rem 0;
    padding: 0.625rem;

    outline: none;
    caret-color: rgba(0, 0, 0, 0.3);

    border-radius: 7px;
    border: none;
    color: #616161;

    font-size: 1rem;

    background-color: #f5f5f5;
}

.input:first-child {
    margin-top: 0;
}

.input:focus {
    box-shadow: 0 0 3px .5px rgba(0,0,0,0.2);
    background-color: #fff;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input_plain_right_border {
    composes: input;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input_plain_left_border {
    composes: input;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input_plain_left_border:first-child {
    margin: 0.33rem 0;
}

.input_plain_right_border:first-child {
    margin: 0.33rem 0;
}

.row {
    display: flex;
    gap: 0.33rem;
}

.button {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.33rem;
    padding: 0;

    background-color: #42a5f5;
    transition: background-color .1s linear;
    font-size: 1rem;
    color: #fff;

    border-radius: 10px;
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    background-color: #2196f3;
}

.button:active {
    background-color: #2196f3;
}