.container {
    display: flex;
    margin: 1.25rem auto;
    height: 800px;
    max-width: 1400px;
    width: 100%;

    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

@media (max-width: 1440px), (max-height: 840px) {
    .container {
        max-width: none;
        margin: 0 auto;
        position: absolute;
        height: 100%;
        border-radius: 0;
    }
}