.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.25rem;

    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}